:root {
    --background: #6f4f70;
    --background-light: #7f6580;
    --background-dark: #4e304f;
    --primary-light: #f2c25c;
    --primary-medium: #e9a147;
    --primary-dark: #d48727;
    --secondary-light: #a6c347;
    --secondary-medium: #819540;
    --secondary-dark: #647236;
}
