:root {
    --background: #6F4F70;
    --background-light: #7f6580;
    --primary-light: #F2C25C;
    --primary-medium: #e9a147;
    --primary-dark: #d48727;
    --secondary-light: #a6c347;
    --secondary-medium: #819540;
    --secondary-dark: #647236;
}